<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/check.css}">
</head>
<body>

<div class="container">
    <div class="row">

        <div>
            <th:block th:replace="check/fragment/side :: Side"></th:block>
        </div>

        <div style="padding-left: 3%;">
            <th:block th:replace="check/fragment/info :: Info"></th:block>
        </div>

    </div>
</div>

<script type="text/javascript" src="/js/location.js" ></script>
<script type="text/javascript" src="/js/plan.js" ></script>
<script type="text/javascript" src="/js/ajax.js" ></script>
<script type="text/javascript" src="/js/daily.js" ></script>
<script type="text/javascript" src="/js/habit.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>