<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/check.css}">
</head>
<body>

<div class="container">
    <div class="row">

        <div class="col-md-1">
            <th:block th:replace="check/fragment/side :: Side"></th:block>
        </div>

        <div class="col-md-6">

            <input type="text" class="plan-input" placeholder="일정을 작성해주세요. Enter창을 누르면 업로드 됩니다!">

            <div>
                <div style="margin-bottom: 3%;">
                    <small>고정</small>
                    <img th:src="@{/img/fix.png}" style="width: 3%;">
                </div>

                <div th:each="item : ${content['habitContent']}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:id="${item.seq + 'habit'}">
                    <label class="form-check-label" th:for="${item.seq + 'habit'}">
                        <p class="plan-p" th:text="${item.scheduleContent}"></p>
                    </label>
                </div>
                </div>

            </div>
            <hr>

            <div th:each="item : ${content['dailyContent']}">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" th:id="${item.seq + 'daily'}">
                    <label class="form-check-label" th:for="${item.seq + 'daily'}">
                        <p class="plan-p" th:text="${item.scheduleContent}"></p>
                    </label>
                </div>
            </div>

        </div>

        <div class="col-md-5 productivity" style="padding-left: 3%;">
            <th:block th:replace="check/fragment/info :: Info"></th:block>
        </div>

    </div>
</div>
            <th:block th:replace="check/fragment/userImg-edit-modal.html :: User-img-edit"></th:block>

    <script type="text/javascript" src="/js/location.js" ></script>
    <script type="text/javascript" src="/js/plan.js" ></script>
    <script type="text/javascript" src="/js/ajax.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>




