<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/check.css}">
</head>
<body>

<div class="container">
    <div class="row">

        <div class="col-md-1">
            <th:block th:replace="check/fragment/side :: Side"></th:block>
        </div>

        <div class="col-md-6">
            <input type="hidden" th:value="${date}" class="todayDate">

            <input type="text" class="plan-input dailyInput" placeholder="일정을 작성해주세요. Enter창을 누르면 업로드 됩니다!">
            <p th:text="${'today '+date}" class="date-p"></p>
            <button onclick="editBtn()" class="editButton edit-button-css">편집</button>
                <div style="margin-bottom: 3%;">
                    <small>고정</small>
                    <img th:src="@{/img/fix.png}" style="width: 3%;">
                </div>
            <th:block th:replace="check/fragment/habitContent.html :: HabitContent"></th:block>
            <hr>
            <th:block th:replace="check/fragment/dailyContent.html :: DailyContent"></th:block>
        </div>

        <div class="col-md-5 productivity" style="padding-left: 3%;">
            <th:block th:replace="check/fragment/info :: Info"></th:block>
        </div>

    </div>
</div>
            <th:block th:replace="check/fragment/userImg-edit-modal.html :: User-img-edit"></th:block>

    <script type="text/javascript" src="/js/location.js" ></script>
    <script type="text/javascript" src="/js/plan.js" ></script>
    <script type="text/javascript" src="/js/ajax.js" ></script>
    <script type="text/javascript" src="/js/daily.js" ></script>
    <script type="text/javascript" src="/js/habit.js" ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>




