<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/check.css}">
</head>
<body>

<div class="container">
    <div class="row">

        <div class="col-md-1">
            <th:block th:replace="check/fragment/side :: Side"></th:block>
        </div>

        <div class="col-md-6">

            <h4 class="history-h4">어제 (09.08)</h4>
            <input type="hidden" th:value="${date}" class="todayDate">

            <div class="habitCheck">
                <div th:each="item : ${content['habit']}">
                    <div th:class="${'habitPosition' + item.seq}">
                        <div th:if="${not item.status}">
                            <div class="form-check" th:id="${'habit' + item.seq}" th:onclick="habitOn( [[${item.seq}]], [[${date}]] )">
                                <input class="form-check-input" type="checkbox" th:id="${item.seq + 'checkbox-habit'}">
                                <label class="form-check-label" th:id="${item.seq + 'checkbox-habit'}">
                                    <p class="plan-p" th:text="${item.scheduleContent}"></p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="habitCheckOn">
                <div th:each="item : ${content['habit']}">
                    <div th:if="${item.status}">
                        <div class="form-check" th:id="${'habit' + item.seq}" th:onclick="habitOff( [[${item.seq}]], [[${date}]] )">
                            <input class="form-check-input" type="checkbox" th:id="${item.seq + 'checkbox-habit'}" checked>
                            <label class="form-check-label" th:id="${item.seq + 'checkbox-habit'}">
                                <p class="plan-p checkOn" th:text="${item.scheduleContent}"></p>
                                <small th:text="${item.achievedDate}"></small>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="dailyCheck">
                <div th:each="item : ${content['daily']}">
                    <div th:class="${'dailyPosition' + item.seq}">
                        <div th:if="${not item.status}">
                            <div class="form-check" th:id="${'daily' + item.seq}" th:onclick="dailyOn( [[${item.seq}]] )">
                                <input class="form-check-input" type="checkbox" th:id="${item.seq + 'checkbox-daily'}">
                                <label class="form-check-label" th:id="${item.seq + 'checkbox-daily'}">
                                    <p class="plan-p" th:text="${item.scheduleContent}"></p>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dailyCheckOn">
                <div th:each="item : ${content['daily']}">
                    <div th:if="${item.status}">
                        <div class="form-check" th:id="${'daily' + item.seq}" th:onclick="dailyOff( [[${item.seq}]] )">
                            <input class="form-check-input" type="checkbox" th:id="${item.seq + 'checkbox-daily'}" checked>
                            <label class="form-check-label" th:id="${item.seq + 'checkbox-daily'}">
                                <p class="plan-p checkOn" th:text="${item.scheduleContent}"></p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-5 productivity" style="padding-left: 3%;">
            <th:block th:replace="check/fragment/info :: Info"></th:block>
        </div>

    </div>
</div>
<th:block th:replace="check/fragment/userImg-edit-modal.html :: User-img-edit"></th:block>

<script type="text/javascript" src="/js/location.js" ></script>
<script type="text/javascript" src="/js/plan.js" ></script>
<script type="text/javascript" src="/js/ajax.js" ></script>
<script type="text/javascript" src="/js/daily.js" ></script>
<script type="text/javascript" src="/js/habit.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>




