<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Check</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/error.css}">
</head>
<body>

<div class="errorDiv">
    <h1>Error!!</h1>
    <h4 class="errorH4">요청하신 페이지를 찾을 수 없습니다.</h4>
    <a onclick="mainPage()" class="errorA">메인 페이지로 이동</a><br>
    <img th:src="@{/img/bug-fixing-flatline.png}" class="errorImg">
</div>

</body>
<script type="text/javascript" src="/js/error.js" ></script>
</html>