<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sub.css}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card_div">
                <div class="main_text_div">
                    <h1 class="main_text" onclick="location.href='/'">Check</h1>
                    <h3 class="sub_text">더 나은 미래를 위한 첫걸음,</h3>
                </div>
                <div class="login_form">
                    <p class="signUp_p">비밀번호 변경</p>
                    <form th:action="@{'/user/findPass?userNum=' + ${userNum}}" method="post" onsubmit="editPass()">
                        <small class="passError error" style="display:none">비밀번호는 숫자와 알파벳(대소문자 무관)을 모두 포함하며, 총 길이는 8자 이상이어야 합니다.</small>
                        <input type="password" class="sub_input signUp_input" placeholder="PassWord" id="passWord"><br>
                        <small class="matchError error" style="display:none">비밀번호가 일치하지 않습니다! 다시 입력해주세요.</small>
                        <input type="password" name="userPass" class="sub_input signUp_input" placeholder="비밀번호 확인" id="checkPassWord">
                        <button type="submit" class="sub_button findPass_button">비밀번호 변경</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
<script>
       window.onpageshow = function(event) {
        if ( event.persisted || (window.performance && window.performance.navigation.type == 2)) {
            location.href="/";
            }
        }
</script>
<script type="text/javascript" src="/js/format_pass.js" ></script>
<script type="text/javascript" src="/js/submit.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>