<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sub.css}">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card_div">
                <div class="main_text_div">
                    <h1 class="main_text">Check</h1>
                    <h3 class="sub_text">더 나은 미래를 위한 첫걸음,</h3>
                </div>
                <div class="login_form">
                    <p class="noneMail error" style="display:none">등록된 이메일이 없습니다! 다시 입력해주세요.</p>
                        <input type="text" name="userMail" class="sub_input" placeholder="Email" style="margin-top:0" id="email"><br>
                        <button class="sub_button findPass_button" onclick="linkSand()">비밀번호 찾기</button>
                        <div class="spinner-border text-secondary spinner" role="status" style="display:none; margin-left: 45%;">
                            <span class="visually-hidden"></span>
                        </div>
                        <p class="success" style="display:none">비밀번호 변경 링크를 메일로 보냈습니다!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>
</div>
<script type="text/javascript" src="/js/format_email.js" ></script>
<script type="text/javascript" src="/js/ajax.js" ></script>
<script type="text/javascript" src="/js/submit.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>