<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="DailyContent">

<div class="dailyCheck">
    <div th:each="item : ${content['daily']}">
        <div th:class="${'dailyPosition' + item.seq}">
            <div th:if="${not item.status}">
                <div class="form-check" th:id="${'daily' + item.seq}" th:onclick="dailyOn( [[${item.seq}]] )">
                    <input class="form-check-input" type="checkbox" th:id="${item.seq + 'checkbox-daily'}">
                    <label class="form-check-label" th:id="${item.seq + 'checkbox-daily'}">
                        <p class="plan-p" th:text="${item.scheduleContent}"></p>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dailyCheckOn">
    <div th:each="item : ${content['daily']}">
        <div th:if="${item.status}">
            <div class="form-check" th:id="${'daily' + item.seq}" th:onclick="dailyOff( [[${item.seq}]] )">
                <input class="form-check-input" type="checkbox" th:id="${item.seq + 'checkbox-daily'}" checked>
                <label class="form-check-label" th:id="${item.seq + 'checkbox-daily'}">
                    <p class="plan-p checkOn" th:text="${item.scheduleContent}"></p>
                </label>
            </div>
        </div>
    </div>
</div>



</html>