<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HabitContent">

<div class="habitCheck">
    <div th:each="item : ${content['habit']}">
        <div th:class="${'habitPosition' + item.seq}">
            <div th:if="${not item.status}">
                <div class="form-check" th:id="${'habit' + item.seq}">
                    <div th:onclick="habitOn( [[${item.seq}]], [[${date}]] )" th:class="${'div-inline habitDiv' + item.seq}">
                    <input class="form-check-input" type="checkbox" th:id="${item.seq + 'checkbox-habit'}">
                    <label class="form-check-label" th:id="${item.seq + 'checkbox-habit'}">
                        <p th:class="${'plan-p contentP habitP' + item.seq}" th:text="${item.scheduleContent}"></p>
                    </label>
                    </div>
                    <input th:value="${item.scheduleContent}" th:class="${'modify-input none-btn habit-input' + item.seq}">
                    <button th:onclick="habitModify( [[${item.seq}]] )" class="modify-btn none-btn">수정</button>
                    <button th:onclick="habitDelete( [[${item.seq}]] )" class="delete-btn none-btn">삭제</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="habitCheckOn">
    <div th:each="item : ${content['habit']}">
        <div th:if="${item.status}">
            <div class="form-check" th:id="${'habit' + item.seq}">
                <div th:onclick="habitOff( [[${item.seq}]], [[${date}]] )" th:class="${'div-inline habitDiv' + item.seq}">
                <input class="form-check-input" type="checkbox" th:id="${item.seq + 'checkbox-habit'}" checked>
                <label class="form-check-label" th:id="${item.seq + 'checkbox-habit'}">
                    <p th:class="${'checkOn plan-p contentP habitP' + item.seq}" th:text="${item.scheduleContent}"></p>
                </label>
                </div>
                <input th:value="${item.scheduleContent}" th:class="${'modify-input none-btn habit-input' + item.seq}">
                <button th:onclick="habitModify( [[${item.seq}]] )" class="modify-btn none-btn">수정</button>
                <button th:onclick="habitDelete( [[${item.seq}]] )" class="delete-btn none-btn">삭제</button>
            </div>
        </div>
    </div>
</div>


</html>