<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="HabitContent">

<div class="habitCheck">
    <div th:each="item : ${content['habit']}">
        <div th:class="${'habitPosition' + item.seq}">
            <div th:if="${not item.status}">
                <div class="form-check" th:id="${'habit' + item.seq}" th:onclick="habitOn( [[${item.seq}]], [[${date}]] )">
                    <input class="form-check-input" type="checkbox" th:id="${item.seq + 'checkbox-habit'}">
                    <label class="form-check-label" th:id="${item.seq + 'checkbox-habit'}">
                        <p class="plan-p" th:text="${item.scheduleContent}"></p>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="habitCheckOn">
    <div th:each="item : ${content['habit']}">
        <div th:if="${item.status}">
            <div class="form-check" th:id="${'habit' + item.seq}" th:onclick="habitOff( [[${item.seq}]], [[${date}]] )">
                <input class="form-check-input" type="checkbox" th:id="${item.seq + 'checkbox-habit'}" checked>
                <label class="form-check-label" th:id="${item.seq + 'checkbox-habit'}">
                    <p class="plan-p checkOn" th:text="${item.scheduleContent}"></p>
                </label>
            </div>
        </div>
    </div>
</div>


</html>