<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="Info">

<div style="text-align: center;">
  <img src="img/leftN.png" class="arrow-img">
  <h3 style="display: inline;">9월</h3>
  <img src="img/rigthN.png" class="arrow-img">
</div>
<div class="calendar">

  <div class="icon-check">
    <img src="img/habitCheck.png" class="check">
    <img src="img/planCheck.png" class="check">
  </div>

</div>
<div class="info-div">
  <img src="img/iconmonstr-refresh-lined-240.png" class="refresh-img">
  <p class="num-p">지금까지 총 <span style="font-weight: 400;">89개</span>의 일정을 달성했습니다!</p><br>
  <span>이번달 달성치</span><br>
  <div class="h2-with-text">
    <h2 style="padding-top: 2%;">89%</h2>
    <div class="text">
      <small style="color: #dc3545;">일정 : 43개 / 35개 </small><br>
      <small style="color: #28a745;"> 한 달 습관 : 30 day / 20 day</small>
    </div>
  </div>
</div>
<small>9월 일지</small>
<textarea type="text" class="feedback-textarea">푸하하하하하하하하</textarea>


</html>