<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="Info">

<div>
  <img th:if="${mobile} == null" th:src="@{/img/leftN.png}" class="arrow-img" th:onclick="beforeDate( [[${infoSchedule.year + '.' + infoSchedule.nowMonth}]] )">
  <img th:if="${mobile} != null" th:src="@{/img/leftN.png}" class="arrow-img" th:onclick="mobileBeforeDate( [[${infoSchedule.year + '.' + infoSchedule.nowMonth}]] )">
  <h3 class="date-h" th:text="${infoSchedule.year + '.' + infoSchedule.nowMonth}"></h3>
  <img th:if="${mobile} == null" th:src="@{/img/rigthN.png}" class="arrow-img" th:onclick="afterDate( [[${infoSchedule.year + '.' + infoSchedule.nowMonth}]] )">
  <img th:if="${mobile} != null" th:src="@{/img/rigthN.png}" class="arrow-img" th:onclick="mobileAfterDate( [[${infoSchedule.year + '.' + infoSchedule.nowMonth}]] )">
</div>
<div class="calendar">
  <div class="icon-check calender-div-css">
    <span style="color: #dc3545;">일</span>
  </div>
  <div class="icon-check calender-div-css">
    <span>월</span>
  </div>
  <div class="icon-check calender-div-css">
    <span>화</span>
  </div>
  <div class="icon-check calender-div-css">
    <span>수</span>
  </div>
  <div class="icon-check calender-div-css">
    <span>목</span>
  </div>
  <div class="icon-check calender-div-css">
    <span>금</span>
  </div>
  <div class="icon-check calender-div-css">
    <span style="color: #25588f;">토</span>
  </div><br>
  <div th:each="entry, calender : ${infoSchedule.calender}" style="display:inline;">

    <div class="icon-check">
      <img th:if="${entry.value < 0}" th:src="@{/img/empty.png}" class="check">
      <img th:if="${entry.value == 0}" th:src="@{/img/gray_gray.png}" class="check" th:onclick="planLink( [[${infoSchedule.year + '.' + infoSchedule.nowMonth + '.' + entry.key}]] )">
      <img th:if="${entry.value == 2}" th:src="@{/img/gray_green.png}" class="check" th:onclick="planLink( [[${infoSchedule.year + '.' + infoSchedule.nowMonth + '.' + entry.key}]] )">
      <img th:if="${entry.value == 3}" th:src="@{/img/red_gray.png}" class="check" th:onclick="planLink( [[${infoSchedule.year + '.' + infoSchedule.nowMonth + '.' + entry.key}]] )">
      <img th:if="${entry.value == 5}" th:src="@{/img/red_green.png}" class="check" th:onclick="planLink( [[${infoSchedule.year + '.' + infoSchedule.nowMonth + '.' + entry.key}]] )">
    </div>
    <br th:if="${ (calender.index + 1) % 7 == 0}">
  </div>


</div>

<div class="info-div">
  <img th:src="@{/img/iconmonstr-refresh-lined-240.png}" class="refresh-img" onclick="refresh()">
  <p class="num-p">지금까지 총 <span style="font-weight: 400;" th:text="${infoSchedule.allAchievedCount + '개'}"></span>의 일정을 달성했습니다!</p><br>
  <span>이번달 달성치</span><br>
  <div class="h2-with-text">
    <h2 style="padding-top: 2%;" th:text="${infoSchedule.achievedPercent + '%'}"></h2>
    <div class="text">
      <small style="color: #dc3545;" th:text="${'일정 : ' + infoSchedule.dailCount + ' 개 / ' + + infoSchedule.dailAchievedCount + ' 개'}"></small><br>
      <small style="color: #28a745;" th:text="${'한 달 습관 : ' + infoSchedule.habitCount + ' day / ' + + infoSchedule.habitAchievedCount + ' day'}"></small>
    </div>
  </div>
</div>

<div th:if="${feedback} != null">
  <small th:text="${infoSchedule.nowMonth + '월 일지'}"></small>
  <button th:onclick="feedbackUpdate( [[${feedback.createDate}]] )" class="feedback-button">
    업로드
  </button>
  <textarea type="text" class="feedback-textarea" th:text="${feedback.fbContent}"></textarea>
  <small th:if="${feedback.modifyDate} != null" th:text="${'수정됨 ' + feedback.modifyDate}" class="feedback-small"></small>
</div>
<div th:if="${feedback} == null">
  <small th:text="${infoSchedule.nowMonth + '월 일지'}"></small>
  <button onclick="feedbackInsert()" class="feedback-button">
    업로드
  </button>
  <textarea type="text" class="feedback-textarea" ></textarea>
</div>
</html>