<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="Side">

<div class="web-drop">
    <div class="dropdown">
        <img th:if="${session.userImg} != null" th:src="'data:image/jpeg;base64,' + ${session.userImg}" class="barProfile-img" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img th:if="${session.userImg} == null" th:src="@{/img/profile.png}" class="barProfile-img" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">이미지 변경</a></li>
            <li><a class="dropdown-item" href="/user/logout" style="color: #b5b5b5;">로그아웃</a></li>
        </ul>
    </div>
    <img th:if="${planLink} != null" th:src="@{/img/plan.png}" class="bar-img" onclick="planLink()">
    <img th:if="${planLink} == null" th:src="@{/img/planN.png}" class="bar-img" onclick="planLink()"> <br>
    <img th:if="${habitLink} != null" th:src="@{/img/habit.png}" class="bar-img" onclick="habitLink()">
    <img th:if="${habitLink} == null" th:src="@{/img/habitN.png}" class="bar-img" onclick="habitLink()"> <br>
    <img th:if="${historyLink} != null" th:src="@{/img/history.png}" class="bar-img" onclick="historyLink()">
    <img th:if="${historyLink} == null" th:src="@{/img/historyN.png}" class="bar-img" onclick="historyLink()">
</div>

<div class="dropdown mobile-drop">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <span class="span-text">check</span>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" onclick="planLink()">할 일</a></li>
        <li><a class="dropdown-item" onclick="habitLink()">습관</a></li>
        <li><a class="dropdown-item" onclick="infoMobile()">생산성</a></li>
        <li><a class="dropdown-item" onclick="historyLink()">히스토리</a></li>
        <li><a class="dropdown-item" href="/user/logout" style="color: #b5b5b5;">로그아웃</a></li>
    </ul>
</div>


</html>