<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="Side">

<div class="web-drop">
    <div class="dropdown">
        <img src="img/profile.png" class="barProfile-img" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" data-toggle="modal" data-target="#exampleModal">이미지 변경</a></li>
            <li><a class="dropdown-item" href="#" style="color: #b5b5b5;">로그아웃</a></li>
        </ul>
    </div>
    <img src="img/plan.png" class="bar-img"> <br>
    <img src="img/habitN.png" class="bar-img"> <br>
    <img src="img/historyN.png" class="bar-img">
</div>

<div class="dropdown mobile-drop">
    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    </button>
    <span class="span-text">check</span>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">할 일</a></li>
        <li><a class="dropdown-item" href="#">습관</a></li>
        <li><a class="dropdown-item" href="#">생산성</a></li>
        <li><a class="dropdown-item" href="#">히스토리</a></li>
        <li><a class="dropdown-item" href="#" style="color: #b5b5b5;">로그아웃</a></li>
    </ul>
</div>


</html>